*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f3aac8;
}

#noButton{
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton{
    position: absolute;
    margin-right: 150px;
}

.ask{
    font-family: 'nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

.btn{
    background-color: #ffb6c1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;
}