*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3aac8;
}

.ask{
    font-family: 'nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
}

.gifcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}